<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chicken Competition.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,987},{102,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,122}}</string>
                <key>sourceSize</key>
                <string>{102,128}</string>
            </dict>
            <key>Daily gifts.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,966},{102,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,122}}</string>
                <key>sourceSize</key>
                <string>{102,128}</string>
            </dict>
            <key>Gifts.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,341},{100,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,126}}</string>
                <key>sourceSize</key>
                <string>{102,128}</string>
            </dict>
            <key>Illustration.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,990},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>Mutual Aid Red Bags.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,883},{102,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,122}}</string>
                <key>sourceSize</key>
                <string>{102,128}</string>
            </dict>
            <key>aixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,546},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>annue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1069},{144,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,52}}</string>
                <key>sourceSize</key>
                <string>{144,52}</string>
            </dict>
            <key>annue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{313,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,114}}</string>
                <key>sourceSize</key>
                <string>{313,114}</string>
            </dict>
            <key>annue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,393},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>annue_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,624},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>annue_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{313,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,114}}</string>
                <key>sourceSize</key>
                <string>{313,114}</string>
            </dict>
            <key>annue_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,546},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>annue_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,468},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>annue_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{313,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,114}}</string>
                <key>sourceSize</key>
                <string>{313,114}</string>
            </dict>
            <key>biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,81}}</string>
                <key>sourceSize</key>
                <string>{416,81}</string>
            </dict>
            <key>buxihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,176},{263,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{263,98}}</string>
                <key>sourceSize</key>
                <string>{265,100}</string>
            </dict>
            <key>d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{143,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{143,146}}</string>
                <key>sourceSize</key>
                <string>{143,148}</string>
            </dict>
            <key>dadi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,719},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>dengdaiyaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,680},{179,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,44}}</string>
                <key>sourceSize</key>
                <string>{179,44}</string>
            </dict>
            <key>di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,983},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,83}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>di_2 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{317,469},{158,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,98}}</string>
                <key>sourceSize</key>
                <string>{158,98}</string>
            </dict>
            <key>di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,892},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>di_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,317},{176,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,108}}</string>
                <key>sourceSize</key>
                <string>{178,108}</string>
            </dict>
            <key>di_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1083},{74,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,71}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>di_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,495},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>di_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1068},{74,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>douji (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{660,887},{118,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,119}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>douji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>douji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,410},{203,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,56}}</string>
                <key>sourceSize</key>
                <string>{203,56}</string>
            </dict>
            <key>ewaijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,575},{179,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{179,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>fried.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,276},{225,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,45}}</string>
                <key>sourceSize</key>
                <string>{225,45}</string>
            </dict>
            <key>goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,276},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{244,104}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1090},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,584},{111,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,94}}</string>
                <key>sourceSize</key>
                <string>{111,94}</string>
            </dict>
            <key>hongdian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,118},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>huzhuhongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,749},{180,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,45}}</string>
                <key>sourceSize</key>
                <string>{180,45}</string>
            </dict>
            <key>ji.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1007},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1035},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>jia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,503},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>jianglijiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{181,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{181,45}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,516},{87,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,58}}</string>
                <key>sourceSize</key>
                <string>{87,58}</string>
            </dict>
            <key>kangeshipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,459},{207,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,56}}</string>
                <key>sourceSize</key>
                <string>{207,56}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,276},{246,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,132}}</string>
                <key>sourceSize</key>
                <string>{246,132}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,893},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>li_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,605},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,172}}</string>
                <key>sourceSize</key>
                <string>{129,172}</string>
            </dict>
            <key>li_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{280,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,172}}</string>
                <key>sourceSize</key>
                <string>{280,172}</string>
            </dict>
            <key>linqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,961},{72,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,32}}</string>
                <key>sourceSize</key>
                <string>{72,32}</string>
            </dict>
            <key>linqu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,809},{81,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,37}}</string>
                <key>sourceSize</key>
                <string>{81,37}</string>
            </dict>
            <key>lixianjiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{179,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1069},{47,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,33}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>meirirenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{181,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,45}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>mi_da_.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,752},{79,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,97}}</string>
                <key>sourceSize</key>
                <string>{79,97}</string>
            </dict>
            <key>mi_xiao_.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,617},{53,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,65}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>mianfeilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{203,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,56}}</string>
                <key>sourceSize</key>
                <string>{203,56}</string>
            </dict>
            <key>mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,629},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,218},{253,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,56}}</string>
                <key>sourceSize</key>
                <string>{253,56}</string>
            </dict>
            <key>pingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,726},{81,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,37}}</string>
                <key>sourceSize</key>
                <string>{81,37}</string>
            </dict>
            <key>pingjiajiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,702},{180,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,45}}</string>
                <key>sourceSize</key>
                <string>{180,45}</string>
            </dict>
            <key>qiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,880},{105,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,45}}</string>
                <key>sourceSize</key>
                <string>{105,45}</string>
            </dict>
            <key>qiuhongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,924},{87,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,31}}</string>
                <key>sourceSize</key>
                <string>{87,31}</string>
            </dict>
            <key>quezhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{203,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,56}}</string>
                <key>sourceSize</key>
                <string>{203,56}</string>
            </dict>
            <key>quyaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,382},{225,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,75}}</string>
                <key>sourceSize</key>
                <string>{225,75}</string>
            </dict>
            <key>ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,213},{100,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,126}}</string>
                <key>sourceSize</key>
                <string>{102,128}</string>
            </dict>
            <key>recovery.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1091},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,870},{118,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,119}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>shenbijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{180,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,45}}</string>
                <key>sourceSize</key>
                <string>{180,45}</string>
            </dict>
            <key>shengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,762},{121,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,56}}</string>
                <key>sourceSize</key>
                <string>{121,56}</string>
            </dict>
            <key>shop (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1048},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,833},{105,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,45}}</string>
                <key>sourceSize</key>
                <string>{105,45}</string>
            </dict>
            <key>shuangbeilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{203,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,56}}</string>
                <key>sourceSize</key>
                <string>{203,56}</string>
            </dict>
            <key>sign in.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,85},{100,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,126}}</string>
                <key>sourceSize</key>
                <string>{102,128}</string>
            </dict>
            <key>songzhufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,605},{155,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,56}}</string>
                <key>sourceSize</key>
                <string>{155,56}</string>
            </dict>
            <key>weizhi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,796},{167,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,95}}</string>
                <key>sourceSize</key>
                <string>{167,95}</string>
            </dict>
            <key>wenhao_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,885},{74,96}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{74,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,118},{263,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{263,98}}</string>
                <key>sourceSize</key>
                <string>{265,100}</string>
            </dict>
            <key>xindexiaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,624},{179,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,46}}</string>
                <key>sourceSize</key>
                <string>{179,46}</string>
            </dict>
            <key>xingyunshengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,210},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>yaoqinghaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{203,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,56}}</string>
                <key>sourceSize</key>
                <string>{203,56}</string>
            </dict>
            <key>yaoqinglibao (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{184,779},{102,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,122}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>yaoqinglibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{180,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,45}}</string>
                <key>sourceSize</key>
                <string>{180,45}</string>
            </dict>
            <key>yezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,167},{41,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{41,48}</string>
            </dict>
            <key>yiling.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,517},{203,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,56}}</string>
                <key>sourceSize</key>
                <string>{203,56}</string>
            </dict>
            <key>yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,927},{104,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,37}}</string>
                <key>sourceSize</key>
                <string>{104,37}</string>
            </dict>
            <key>yingzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,726},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>yipingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,410},{104,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,37}}</string>
                <key>sourceSize</key>
                <string>{104,37}</string>
            </dict>
            <key>zhenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{179,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,87}}</string>
                <key>sourceSize</key>
                <string>{179,87}</string>
            </dict>
            <key>zhuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,672},{179,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,45}}</string>
                <key>sourceSize</key>
                <string>{179,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>widget.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51d9841caa1c0215a56db723aba552d9$</string>
            <key>textureFileName</key>
            <string>widget.png</string>
        </dict>
    </dict>
</plist>
