<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{321,414}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{321,414}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{313,374}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,42},{313,374}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{253,412}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,3},{253,412}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,315},{351,414}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,414}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{321,416}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{321,416}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{311,416}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{311,416}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>unkonw.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,668},{315,374}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{315,374}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chickenBpart.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b12258074e0d7d0e49904f11d3162a4$</string>
            <key>textureFileName</key>
            <string>chickenBpart.png</string>
        </dict>
    </dict>
</plist>
