<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,562},{277,324}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,79},{277,324}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1189},{301,362}}</string>
                <key>offset</key>
                <string>{-15,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,40},{301,362}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1548},{303,370}}</string>
                <key>offset</key>
                <string>{-32,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{303,370}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{341,412}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{341,412}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1192},{281,390}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{281,390}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1170},{317,376}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{317,376}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{341,392}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{341,392}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{315,410}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{315,410}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1584},{283,378}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{283,378}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{283,416}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{283,416}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{365,416}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,416}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,2},{323,348}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,57},{323,348}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{303,390}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{303,390}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1252},{313,408}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{313,408}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,790},{297,378}}</string>
                <key>offset</key>
                <string>{-10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,42},{297,378}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{349,398}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{349,398}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1664},{309,380}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,37},{309,380}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,888},{299,370}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,47},{299,370}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1662},{305,380}}</string>
                <key>offset</key>
                <string>{-31,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{305,380}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1662},{249,384}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,27},{249,384}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,327},{233,346}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,52},{233,346}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1640},{293,396}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{293,396}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,396},{275,392}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{275,392}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,402},{299,394}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{299,394}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1240},{319,398}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{319,398}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{301,410}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{301,410}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,834},{307,404}}</string>
                <key>offset</key>
                <string>{25,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{307,404}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,816},{265,396}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,4},{265,396}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,414},{293,400}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{293,400}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,420},{245,412}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{245,412}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,798},{299,392}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{299,392}}</string>
                <key>sourceSize</key>
                <string>{367,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chickenApart.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91ba389f82605ccb1550e6e084f6309e$</string>
            <key>textureFileName</key>
            <string>chickenApart.png</string>
        </dict>
    </dict>
</plist>
